<div>
    <ngb-carousel class="carousel">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/Imagenes/carousel1.jpg" alt="Angular Carousel 1">
            </div>
            <div class="carousel-caption">
                <h3 class="texto">Visita lugares tan maravillosos como estos</h3>
                <p class="texto">Reserva ahora en nuestros mas de 500 alojamientos</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/Imagenes/carousel2.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
                <h3 class="texto">O si prefiere una experienza inolvidable</h3>
                <p class="texto">Contrate con nosotros un viaje y simplemente disfrute del paisaje</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>