<div class="card animated fadeInRight card1" *ngIf="this.ruta == '/home'">
    <div class="card-img"><img [src]="Alojamiento.fotos[0].url" [alt]="Alojamiento.nombre"></div>
    <div class="card-body">
        <h5>{{Alojamiento.nombre}}
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>

            <ngb-rating class="estrellas" [(rate)]="Alojamiento.estrellas" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
        </h5>
        <h6 class="pt-1 pb-2 descripcion">{{Alojamiento.descripcion}}</h6>
        <p *ngIf="this.ruta == '/experiencias' || this.ruta == '/alojamientos'">{{Alojamiento.descripcion}}</p>
        <button *ngIf="this.ruta == '/alojamientos' || this.ruta == '/home'" (click)="verAlojamiento()" type="button" class="btn btn-outline-danger btn-block btn-sm">Descubre este alojamiento</button>
        <button *ngIf="this.ruta == '/experiencias'" (click)="verExperiencia()" type="button" class="btn btn-outline-danger btn-block btn-sm">Descubre esta experiencia</button>
    </div>
</div>

<div class="card animated fadeInRight card2" *ngIf="this.ruta == '/alojamientos' || this.ruta == '/experiencias' || this.ruta == '/formulario-alojamiento'">
    <div class="row ">
        <div class="col-md-7 px-3">

            <h4 class="card-title">{{Alojamiento.nombre}}
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>

                <ngb-rating class="estrellas" [(rate)]="Alojamiento.estrellas" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            </h4>
            <p class="card-text descripcion">
                {{Alojamiento.descripcion}}
            </p>
            <p class="card-text precio2" *ngIf="Alojamiento.habitaciones != undefined">{{Alojamiento.habitaciones[0].precio * this.habitaciones}}€/noche</p>
            <p class="card-text valoracion">{{this.puntuacion}} <span class="puntuacion">{{this.Alojamiento.valoracion.toFixed(1)}}</span></p>
            <div class="boton">
                <button *ngIf="this.ruta == '/alojamientos' || this.ruta == '/home'" (click)="verAlojamiento()" type="button" class="btn btn-outline-danger btn-block btn-sm ">Descubre este alojamiento</button>
                <button *ngIf="this.ruta == '/experiencias'" (click)="verExperiencia()" type="button" class="btn btn-outline-danger btn-block btn-sm ">Descubre esta experiencia</button>
            </div>
        </div>
        <div class="col-md-5">
            <ngb-carousel class="carousel">
                <ng-template ngbSlide *ngFor="let foto of Alojamiento.fotos">
                    <div class="picsum-img-wrapper">
                        <img [src]="foto.url" alt="fotoAlojamiento">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
<div *ngIf="Alojamiento != null && this.ruta == '/perfil'">
    <div class="container alojamientos">
        <div class="row">
            <div class="col">
                <p><img [src]="Alojamiento.fotos[0].url" alt="alojamiento" width="150px" height="150px"></p>
            </div>
            <div class="col">
                <p>{{Alojamiento.nombre}}</p>
            </div>
            <div class="col" *ngIf="Alojamiento.habitaciones != undefined">
                <p>{{propietario.nombre}}</p>
            </div>
            <div class="col botones">
                <button class="btn btn-danger" *ngIf="Alojamiento.habitaciones != undefined" (click)="borrarAlojamiento(Alojamiento)"> <fa-icon [icon]="faTrashAlt" ></fa-icon></button>
                <button class="btn btn-primary" *ngIf="Alojamiento.habitaciones != undefined" (click)="abrirFormularioAlojamiento(Alojamiento)"> <fa-icon [icon]="faEdit"></fa-icon></button>
                <button class="btn btn-danger" *ngIf="Alojamiento.habitaciones == undefined" (click)="borrarExperiencia(Alojamiento)"> <fa-icon [icon]="faTrashAlt" ></fa-icon></button>
                <button class="btn btn-primary" *ngIf="Alojamiento.habitaciones == undefined" (click)="abrirFormularioExperiencia(Alojamiento)"> <fa-icon [icon]="faEdit"></fa-icon></button>
            </div>
        </div>
    </div>
</div>
<div class="card animated fadeInRight card2" *ngIf="this.ruta == '/reservas'">
    <div class="row ">
        <div class="col-md-7 px-3">

            <h4 class="card-title">{{Alojamiento.nombre}}
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>

                <ngb-rating class="estrellas" [(rate)]="Alojamiento.estrellas" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            </h4>
            <p class="card-text descripcion">
                {{Alojamiento.descripcion}}
            </p>
            <p class="card-text valoracion">{{this.puntuacion}} <span class="puntuacion">{{this.Alojamiento.valoracion.toFixed(1)}}</span></p>
            <div class="boton">
                <p>Reservado desde el <strong>{{reserva.fechaEntrada}}</strong> hasta el <strong>{{reserva.fechaSalida}}</strong></p>
                <p>Para <strong>{{reserva.personas}} personas.</strong></p>
            </div>
        </div>
        <div class="col-md-5 imagen-reserva">
            <img [src]="Alojamiento.fotos[0].url" alt="imagen">
        </div>
        <div class="col px-5 boton-cancelar">
            <button class="btn btn-outline-danger" (click)="cancelarReserva(reserva)">Cancelar reserva</button>
            <button class="btn btn-outline-primary" (click)="comentarioMostrar = true">Añadir comentario</button>
        </div>
    </div>
    <div class="comentario animated fadeIn" *ngIf="comentarioMostrar">
        <h1>Agregar comentario</h1>
        <form [formGroup]="comentarioForm">
            <div>
                <mat-form-field appearance="outline" class="inputComentario">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput formControlName="comentario"></textarea>
                    <mat-hint align="end">{{comentario.value.length}} / 200</mat-hint>
                    <mat-error *ngIf="comentario.invalid && (comentario.dirty || comentario.touched)">
                        <div *ngIf="comentario.errors?.required">
                            El comentario es obligatorio.
                        </div>
                        <div *ngIf="comentario.errors?.minlength">
                            El comentario debe tener 25 caracteres como minimo.
                        </div>
                        <div *ngIf="comentario.errors?.maxlength">
                            El comentario no puede tener mas de 200 caracteres.
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="slider">
                <h2>Valoración</h2>
                <mat-slider class="valoracion" max="10" min="1" step="0.1" thumbLabel="true" formControlName="valoracion">
                </mat-slider>
            </div>
        </form>
        <div class="botones-form">
            <button class="btn btn-primary" [disabled]="comentario.invalid" (click)="guardarComentario()">Guardar</button>
            <button class="btn btn-danger" (click)="comentarioMostrar = false">Cancelar</button>
        </div>
    </div>
</div>