<div id="search" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="encabezado-form">
                        <h1>Tu proximo viaje esta mas cerca que nunca</h1>
                        <p>Disfruta de esas merecidas vacaciones con nuestros precios y nuestros mas de 500 alojamientos.</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="search-form">
                        <form>
                            <div class="form-group">
                                <span class="form-label">Tu destino?</span>
                                <input class="form-control" type="text" placeholder="Busca ciudad o nombre de hotel">
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Check In</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Check out</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Habitaciones</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Adultos</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Niños</span>
                                        <select class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <ngb-carousel class="carousel">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/Imagenes/carousel1.jpg" alt="Angular Carousel 1">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/Imagenes/carousel2.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Consectetur tortor volutpat pretium.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-md-12">

            <div class="card-body">
                <div class="row py-3">
                    <div class="col-md-12">
                        <h4>Mejores ofertas de hoy</h4>
                        <div class="linea"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img"><img src="/assets/Imagenes/Casa.jpg"></div>
                            <div class="card-body">
                                <h5>Acogedora casa de montaña</h5>
                                <h6 class="pt-1 pb-2">213€/noche</h6>

                                <button type="button" class="btn btn-outline-danger btn-block btn-sm">Descubre esta oferta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-md-12">

            <div class="card-body">
                <div class="row py-3">
                    <div class="col-md-12">
                        <h4>Nuestra seleccion de alojamientos</h4>
                        <div class="linea"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img"><img src="/assets/Imagenes/Casa.jpg"></div>
                            <div class="card-body">
                                <h5>Acogedora casa de montaña</h5>
                                <h6 class="pt-1 pb-2">213€/noche</h6>

                                <button type="button" class="btn btn-outline-danger btn-block btn-sm">Descubre esta oferta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>