<div class="formulario animated fadeIn horizontal">
    <mat-horizontal-stepper [linear]="true" #stepper *ngIf="mostrar">
        <mat-step [stepControl]="experienciaFormulario">
            <form [formGroup]="experienciaFormulario">
                <ng-template matStepLabel>Creacion de alojamiento</ng-template>
                <div class="grid-formulario">
                    <div class="datos">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre del alojamiento" formControlName="nombreExp" required/>
                            <mat-error *ngIf="nombreExp.invalid && (nombreExp.dirty || nombreExp.touched)">
                                <div *ngIf="nombreExp.errors?.required">
                                    El nombre es obligatorio
                                </div>
                                <div *ngIf="nombreExp.errors?.minlength">
                                    El nombre debe tener 3 caracteres como minimo.
                                </div>
                                <div *ngIf="nombreExp.errors?.maxlength">
                                    El nombre no puede tener mas de 25 caracteres.
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <p>
                            <mat-form-field class="chip-list">
                                <mat-label>Descripcion</mat-label>
                                <textarea matInput placeholder="Ej. Se encuentra en..." formControlName="descripcionExp" required></textarea>
                                <mat-error *ngIf="descripcionExp.invalid && (descripcionExp.dirty || descripcionExp.touched)">
                                    <div *ngIf="descripcionExp.errors?.required">
                                        La descripcion es obligatoria
                                    </div>
                                    <div *ngIf="descripcionExp.errors?.minlength">
                                        La descripcion debe tener 20 caracteres como minimo.
                                    </div>
                                    <div *ngIf="descripcionExp.errors?.maxlength">
                                        La descripcion no puede tener mas de 200 caracteres.
                                    </div>
                                </mat-error>
                                <mat-hint align="end">{{descripcionExp.value.length}} / 200</mat-hint>
                            </mat-form-field>
                        </p>
                        <div class="campos-numericos">
                            <mat-form-field appearance="outline">
                                <mat-label>Ubicación</mat-label>
                                <mat-select [formControl]="localizacion">
                                    <mat-option *ngFor="let provincia of provincias" [value]="provincia">
                                        {{provincia}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="localizacion.invalid && (localizacion.dirty || localizacion.touched)">
                                    <div *ngIf="localizacion.errors?.required">
                                        La localizacion es obligatoria
                                    </div>
                                    <div *ngIf="localizacion.errors?.minlength">
                                        La localizacion debe tener 3 caracteres como minimo.
                                    </div>
                                    <div *ngIf="localizacion.errors?.maxlength">
                                        La localizacion no puede tener mas de 20 caracteres.
                                    </div>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="numerico">
                                <mat-label>Estrellas</mat-label>
                                <input matInput type="number" placeholder="Ej. 3" [formControl]="estrellas" max="5" min="1">
                                <mat-hint align="start"><strong>Estrellas del alojamiento</strong> </mat-hint>
                                <mat-error *ngIf="estrellas.invalid && (estrellas.dirty || estrellas.touched)">
                                    <div *ngIf="estrellas.errors?.required">
                                        Las estrellas son obligatorias
                                    </div>
                                    <div *ngIf="estrellas.errors?.minlength">
                                        El alojamiento debe tener 1 estrella como minimo.
                                    </div>
                                    <div *ngIf="estrellas.errors?.maxlength">
                                        El alojamiento no puede tener mas de 5 estrellas.
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <p>
                            <mat-form-field appearance="outline" class="numerico">
                                <mat-label>Precio</mat-label>
                                <input matInput type="number" class="right-align" formControlName="precio">
                                <span matPrefix>€&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </p>
                        <p class="oferta">
                            <mat-slide-toggle formControlName="oferta" class="example-margin" color="primary" checked="false">
                                Oferta
                            </mat-slide-toggle>
                        </p>
                    </div>
                    <div class="filtros">
                        <mat-form-field class="chip-list">
                            <mat-chip-list #chipList aria-label="Selector de filtros">
                                <mat-chip *ngFor="let filtro of filtros" (removed)="removeFiltro(filtro)">
                                    {{filtro.filtros}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Nuevo filtro..." #filtrosInput [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true">
                            </mat-chip-list>
                            <mat-hint align="start"><strong>Seleccione solo las mostradas</strong> </mat-hint>
                            <mat-autocomplete [isOpen]="true" #auto="matAutocomplete" (optionSelected)="filtrado($event)">
                                <mat-option *ngFor="let filtro of filtrosValidosExperiencia" [value]="filtro">
                                    {{filtro}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="fotos">
                        <button mat-button class="btn btn-outline-warning boton-subida" (click)="subirFotoExperiencia()">
                            Seleccionar fotos &nbsp;<fa-icon [icon]="faUpload"></fa-icon>
                        </button>
                        <br>
                        <div *ngIf="mostrarFotosExperiencia" class="imagenesAlojamiento">
                            <div *ngFor="let foto of fotosExperiencia" class="imagen">
                                <img [src]="foto.url" [alt]="foto.imagenId" width="125px" height="75px">
                                <mat-icon class="icono-cerrar" (click)="borrarFotoExperiencia(foto)">highlight_off</mat-icon>
                            </div>
                        </div>
                        <input type="file" id="fileUpload" name="fileUpload" multiple accept="image/*" style="display: none;" />
                    </div>
                </div>
                <div class="boton-primero boton">
                    <button mat-button matStepperNext class="btn btn-success" (click)="crearExperiencia()">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Listo!</ng-template>
            <div class="botones-tercero boton">
                <button mat-button matStepperPrevious class="btn btn-warning">Atras</button>
                <button mat-button class="btn btn-success" (click)="guardarExperiencia()">Crear/guardar</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<div class="formulario animated fadeIn vertical">
    <mat-vertical-stepper [linear]="true" #stepper *ngIf="mostrar">
        <mat-step [stepControl]="experienciaFormulario">
            <form [formGroup]="experienciaFormulario">
                <ng-template matStepLabel>Creacion de alojamiento</ng-template>
                <div class="grid-formulario">
                    <div class="datos">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre del alojamiento" formControlName="nombreExp" required/>
                            <mat-error *ngIf="nombreExp.invalid && (nombreExp.dirty || nombreExp.touched)">
                                <div *ngIf="nombreExp.errors?.required">
                                    El nombre es obligatorio
                                </div>
                                <div *ngIf="nombreExp.errors?.minlength">
                                    El nombre debe tener 3 caracteres como minimo.
                                </div>
                                <div *ngIf="nombreExp.errors?.maxlength">
                                    El nombre no puede tener mas de 25 caracteres.
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <p>
                            <mat-form-field class="chip-list">
                                <mat-label>Descripcion</mat-label>
                                <textarea matInput placeholder="Ej. Se encuentra en..." formControlName="descripcionExp" required></textarea>
                                <mat-error *ngIf="descripcionExp.invalid && (descripcionExp.dirty || descripcionExp.touched)">
                                    <div *ngIf="descripcionExp.errors?.required">
                                        La descripcion es obligatoria
                                    </div>
                                    <div *ngIf="descripcionExp.errors?.minlength">
                                        La descripcion debe tener 20 caracteres como minimo.
                                    </div>
                                    <div *ngIf="descripcionExp.errors?.maxlength">
                                        La descripcion no puede tener mas de 200 caracteres.
                                    </div>
                                </mat-error>
                                <mat-hint align="end">{{descripcionExp.value.length}} / 200</mat-hint>
                            </mat-form-field>
                        </p>
                        <div class="campos-numericos">
                            <mat-form-field appearance="outline">
                                <mat-label>Ubicación</mat-label>
                                <mat-select [formControl]="localizacion">
                                    <mat-option *ngFor="let provincia of provincias" [value]="provincia">
                                        {{provincia}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="localizacion.invalid && (localizacion.dirty || localizacion.touched)">
                                    <div *ngIf="localizacion.errors?.required">
                                        La localizacion es obligatoria
                                    </div>
                                    <div *ngIf="localizacion.errors?.minlength">
                                        La localizacion debe tener 3 caracteres como minimo.
                                    </div>
                                    <div *ngIf="localizacion.errors?.maxlength">
                                        La localizacion no puede tener mas de 20 caracteres.
                                    </div>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="numerico">
                                <mat-label>Estrellas</mat-label>
                                <input matInput type="number" placeholder="Ej. 3" [formControl]="estrellas" max="5" min="1">
                                <mat-hint align="start"><strong>Estrellas del alojamiento</strong> </mat-hint>
                                <mat-error *ngIf="estrellas.invalid && (estrellas.dirty || estrellas.touched)">
                                    <div *ngIf="estrellas.errors?.required">
                                        Las estrellas son obligatorias
                                    </div>
                                    <div *ngIf="estrellas.errors?.minlength">
                                        El alojamiento debe tener 1 estrella como minimo.
                                    </div>
                                    <div *ngIf="estrellas.errors?.maxlength">
                                        El alojamiento no puede tener mas de 5 estrellas.
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <p>
                            <mat-form-field appearance="outline" class="numerico">
                                <mat-label>Precio</mat-label>
                                <input matInput type="number" class="right-align" formControlName="precio">
                                <span matPrefix>€&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </p>
                        <p class="oferta">
                            <mat-slide-toggle formControlName="oferta" class="example-margin" color="primary" checked="false">
                                Oferta
                            </mat-slide-toggle>
                        </p>
                    </div>
                    <div class="filtros">
                        <mat-form-field class="chip-list">
                            <mat-chip-list #chipList aria-label="Selector de filtros">
                                <mat-chip *ngFor="let filtro of filtros" (removed)="removeFiltro(filtro)">
                                    {{filtro.filtros}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Nuevo filtro..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addFiltro($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="fotos">
                        <button mat-button class="btn btn-outline-warning boton-subida" (click)="subirFotoExperiencia()">
                            Seleccionar fotos &nbsp;<fa-icon [icon]="faUpload"></fa-icon>
                        </button>
                        <br>
                        <div *ngIf="mostrarFotosExperiencia" class="imagenesAlojamiento">
                            <div *ngFor="let foto of fotosExperiencia" class="imagen">
                                <img [src]="foto.url" [alt]="foto.imagenId" width="125px" height="75px">
                                <mat-icon class="icono-cerrar" (click)="borrarFotoExperiencia(foto)">highlight_off</mat-icon>
                            </div>
                        </div>
                        <input type="file" id="fileUpload" name="fileUpload" multiple accept="image/*" style="display: none;" />
                    </div>
                </div>
                <div class="boton-primero boton">
                    <button mat-button matStepperNext class="btn btn-success" (click)="crearExperiencia()">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Listo!</ng-template>
            <div class="botones-tercero boton">
                <button mat-button matStepperPrevious class="btn btn-warning">Atras</button>
                <button mat-button class="btn btn-success" (click)="guardarExperiencia()">Crear/guardar</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>