<div class="comentarios">
    <div class="cabecera-datos">
        <div class="titulos">
            <h1 class="titulo">Comentarios</h1>
            <h2 class="subtitulo">Listado de los comentarios hechos</h2>
        </div>
    </div>
    <div class="comentario" *ngIf="comentariosUser.length > 0">
        <app-comentario-tarjeta [comentarios]="comentario" *ngFor="let comentario of comentariosUser | slice: (page-1) * pageSize : page * pageSize"></app-comentario-tarjeta>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="comentariosUser.length" class="d-flex justify-content-center paginacion"></ngb-pagination>
    </div>
    <div class="comentario" *ngIf="comentariosUser.length == 0">
        <h2>No se ha hecho nignuna reserva.</h2>
    </div>
</div>