.muestraAlojamientos {
    display: grid;
    grid-template-columns: 25% 70% 20%;
    grid-template-rows: 16%;
    grid-template-areas: "busqueda main filtros";
}

.formularioBusqueda {
    grid-area: busqueda;
    width: 100%;
    margin: 16% 3%;
    padding: 3%;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    position: sticky;
    top: 10%;
}

.tarjeta {
    width: 60%;
    margin: 10px 3%;
}

.informacionBusqueda h1 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 3%;
}

.filtrosBusqueda {
    grid-area: filtros;
}