<form [formGroup]="searchForm" class="formulario" (submit)="enviarBusqueda()">
    <div class="form-group">
        <span class="form-label">Tu destino?</span>
        <input class="form-control" formControlName="busqueda" type="text" placeholder="Busca ciudad o nombre de hotel">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <span class="form-label">Check In</span>
                <input class="form-control" formControlName="entrada" type="date" required>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <span class="form-label">Check In</span>
                <input class="form-control" formControlName="salida" type="date" required>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <span class="form-label">Habitaciones</span>
                <select class="form-control" formControlName="numHabitaciones">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <span class="select-arrow"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <span class="form-label">Adultos</span>
                <select class="form-control" formControlName="numAdultos">
                    <option>1</option>
                    <option value="2" selected>2</option>
                    <option>3</option>
                </select>
                <span class="select-arrow"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <span class="form-label">Niños</span>
                <select class="form-control" formControlName="numNinos">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <span class="select-arrow"></span>
            </div>
        </div>
    </div>
    <div class="form-btn">
        <button class="submit-btn" type="submit">Buscar</button>
    </div>
</form>