/* Lista de comentarios */

.comentarios {
    border: 1px #3A6073 solid;
    border-radius: 15px 10px 10px 10px;
    margin-bottom: 4%;
}

.datosUsuario {
    display: flex;
    flex-direction: row;
}

.nombre {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-left: 2%;
    position: relative;
}

.comentarios img {
    width: 40px;
    height: 40px;
    border-radius: 15px 30px 30px 30px;
}

.comentario {
    margin-left: 11%;
}


/* Pestaña comentarios */

.pestana {
    text-align: center;
}

.valoracion {
    background-color: rgb(78, 78, 197);
    color: white;
    border-radius: 15px 10px 10px 10px;
}

.valoracion p {
    color: white;
    font-size: 18px;
}