<div class="muestraAlojamientos">
    <app-formulario-busqueda class="formularioBusqueda" (resultForm)="obtenerBusqueda($event)"></app-formulario-busqueda>
    <div class="filtrosBusqueda">
        <form [formGroup]="shortByForm" class="form-mat-sort">
            <mat-form-field appearance="fill" class="selectorOrden">
                <mat-label class="texto-mat">Ordenar por:</mat-label>
                <mat-select class="texto-mat" formControlName="shortBy" disableRipple>
                    <mat-option class="option-mat" *ngFor="let orden of ordenado" [value]="orden" (click)="ordenarAlojamientos()">
                        {{orden}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <app-filtros-busqueda class="filtros-app"></app-filtros-busqueda>
    </div>
    <div class="informacionBusqueda">
        <h1>{{busqueda.busqueda}}: {{alojamientos.length}} alojamientos</h1>
        <div class="card-group">
            <app-alojamiento-tarjeta class="tarjeta" [Alojamiento]="Alojamiento" [habitaciones]="this.busqueda.numHabitaciones" [index]="i" *ngFor="let Alojamiento of alojamientos | sortBy: ordenacion: valor; let i = index"></app-alojamiento-tarjeta>
        </div>
    </div>
</div>