<div class="spinner" *ngIf="load">
    <img src="/assets/Imagenes/Spinner_avion.gif" />
</div>

<div class="muestraAlojamientos" *ngIf="!load">
    <div class="formularios">
        <div class="formularioBusqueda">
            <app-formulario-busqueda (resultForm)="obtenerBusqueda($event)"></app-formulario-busqueda>
        </div>
        <div class="filtrosBusqueda">
            <form [formGroup]="shortByForm">
                <mat-form-field appearance="outline" class="selectorOrden">
                    <mat-label>Ordenar por:</mat-label>
                    <mat-select formControlName="shortBy" disableRipple>
                        <mat-option class="option-mat" *ngFor="let orden of ordenado" [value]="orden" (click)="ordenarAlojamientos()">
                            {{orden}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <app-filtros-busqueda (filtrado)="filtrar($event)"></app-filtros-busqueda>
        </div>
    </div>
    <div class="informacionBusqueda">
        <h1>{{busqueda.busqueda}}: {{alojamientos.length}} alojamientos</h1>
        <div class="card-group">
            <app-alojamiento-tarjeta class="tarjeta" [Alojamiento]="Alojamiento" [busqueda]="busqueda" [habitaciones]="this.busqueda.numHabitaciones" *ngFor="let Alojamiento of alojamientos | slice: (page-1) * pageSize : page * pageSize | sortBy: ordenacion: valor"></app-alojamiento-tarjeta>
        </div>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="alojamientos.length" class="d-flex justify-content-center"></ngb-pagination>
    </div>
</div>